main {
    padding-top: 32px;
}

.background {
    background: url("../images/plans-background.jpg") center/cover;
    filter: grayscale(40%);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.package{
    width: 80%;
    margin: 16px 0;
    border: 4px solid #c9184a;
    border-left: none;
    position: relative;
}

.package:hover,
.package:active {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border-color: #ff5454;
    /*border-color: #590d22 !important;*/
}

.package a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 32px;
}

.package__badge {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.2rem;
    font-size: 0.8rem;
    color: #ffffff;
    background-color: #590d22;
    padding: 8px;
}

.package__subtitle {
    color: #777171;
}

.package__info {
    padding: 1rem;
    border: 1px solid #00051f;
    font-size: 1.2rem;
    color: #00051f;
    background-color: white;
}

.clearfix {
    clear: both;
}

#plus {
    background-color: rgba(255, 179, 193, 0.95);
}

#free {
    background-color: rgba(255, 179, 193, 0.95);
    float: right;
    border-right: none;
    border-left: 4px solid #c9184a;
    text-align: right;
}

#free:hover,
#free:active {
    border-left-color: #ff5454;
}

#premium {
    background-color: rgba(255, 77, 109, 0.9)
}

#premium .package__title {
    color: white;
}

#premium .package__subtitle {
    color: #bbb;
}

@media (min-width: 40rem) {
    main {
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }
}


@media (min-width: 1500px) {
    .package {
        border-left: 4px solid #c9184a;
    }

    #free {
        border-right: 4px solid #c9184a;
    }

    #free:hover,
    #free:active {
        border-right-color: #ff5454;
    }
}