

#product-overview {
    background: linear-gradient(to top, rgba(80,68,18, 0.6) 10%, transparent),
    url("freedom.jpg")  left 10% bottom 20%/cover no-repeat border-box, #ff1b68;
    width: 100%;
    height: 528px;
    margin-top: 43px;
    position: relative;
}

.section-title {
    color: #590d22;
    text-align: center;

}
#product-overview h1 {
    color: white;
    font-family: 'Special Elite', cursive;
    position: absolute;
    bottom: 5%;
    left:3%;
}

.plan__list {
    width: 80%;
    margin: auto;
    text-align: center;
}

.plan {
    background: #ffb3c1;
    text-align: center;
    padding: 16px;
    margin: 8px;
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}

.plan__highlighted {
    background: #ff4d6d;
    color: white;
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 50%);
}

.plan__annotation {
    background: white;
    padding: 10px;
    color: #590d22;
    box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 50%);
    border-radius: 4px;
}

#key-features {
    background-color: #602437;
    margin-top: 80px;
}

#key-features .section-title {
    color: #b9375e;
    padding-top: 32px;
}

.key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.key-feature {
    display: inline-block;
    vertical-align: top;
}

.key-feature__image {
    background-color: #ffccd5;
    width: 128px;
    height: 128px;
    border: 2px solid #8a2846;
    border-radius: 50%;
    margin: auto;
    padding: 20px;
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feature{
    margin: 6px 0;
}

.plan__title {
    color: #c9184a;
}


.plan__price {
    color: #ff758f;
}

.plan__highlighted .plan__title {
    color: white;
}

.plan__highlighted .plan__price {
    color: #602437;
}

h1 {
    font-family: 'Special Elite', cursive;
}
